    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    ul, ol, li{
        list-style: none;
    }
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        

    }
    header{
        background-color: #f9cf93;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        height: 120px;
    }
    .name1{
        font-family: "Playfair Display", serif;
        font-weight: bold;
        height: -45px;
        width: 200px;
        display: flex;
        justify-content: center;
    
    }
    .menu ul{
        display: flex;
        gap: 32px ;
        align-items: center;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        
    }
    .search{
        background-color: black;
        color: gray ;
        font-family: "Playfair Display", serif;
        font-weight: regular;  
        width: 170px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 69px;

        
    }
    main{
    background-color: #f9cf93 ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    }
    .pai{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        height: 40vh;
        width: 80vw;
    }
    .titulo1 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        margin-top: -140px;
        height: 90px;
        width: 47%;
        font-size: 180px;
    }
    .imagem1{
        margin-right: 350px;
        height: 100px;
        width: 100px;


    }
    .titulo2 {
        margin-left: 100px;
        height: 200px;
        

    }
    .imagem2{
        font-family: "Playfair Display", serif;
        font-weight: bold;
        margin-top: -100px;
        margin-right: -25vw;
        width: 70%;
        font-size: 190px;
    }

    footer{
        background-color:#f9cf93;
        height: 300px; 
        display: flex;   
    }
    .explore{

        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20vw;
    }
    button{
        background-color: black;
        margin-top: -80px;
        margin-left:-10px;
        color: white;
        font-size: 25px;
        width: 10vw;
    }
